.Pagination {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 2rem;
  button {
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    border: 1px solid rgb(214, 214, 214);
    background: rgb(245, 245, 245);
  }
  .active {
    font-weight: bold;
    font-size: 20px;
  }
}
