.DetailsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  .episodes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .episode {
      line-height: 1px;
      margin-right: 5px;
    }
  }
}
