.Tab {
  width: 150px;
  height: 50px;
  border-right: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Tab:first-child {
  border-left: 1px solid black;
}

.Active {
  h2 {
    font-weight: bold;
    color: black;
  }
}
