.Action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  padding: 5px;
  &:hover {
    text-decoration: underline;
  }
}
